.logo{
    height: 100px;
    width: 50px;
    background-image: url('/public/images/logo.svg');
    background-size:cover;
    z-index: 10;
    animation: pendulumRotate 2s cubic-bezier(0.42, 0, 0.58, 1) infinite;
    filter: drop-shadow(2px 2px 2px rgba(255, 106, 106, 0.5));
}

@keyframes pendulumRotate {
    0%, 100% {
      transform: rotate(30deg);
    }
    50% {
      transform: rotate(-30deg);
    }
  }

@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@500&display=swap');

.name{
    height: 100px;
    width: 260px;
    text-align: center;
    display: flex;
  justify-content: center; 
  align-items: center;
    font-family: 'Playpen Sans', cursive;
    font-size: 40px;
    z-index: 10;
    background: linear-gradient(45deg, #ff69b4, #3498db); /* Gradient from pink to blue */
    -webkit-background-clip: text; /* Use the text as a mask */
    color: transparent;
    text-shadow: 2px 2px 4px rgba(255, 136, 136, 0.3);
    
    /* text-shadow: 2px 2px 4px rgba(0,0,0,0.3); */
}