.bubble-container{
  position: relative;
}
/* src/styles/Main.css */
.main-container {
  position: absolute;
  top:0px;
  left: 0px;
    width: 400px;
    height: 400px;
    /* background-color: aqua; */
    background-image: url("/public/images/avatar.png");
    background-size: cover;
  }

  .main2-container {
    position: absolute;
    top:-100px;
    left: -100px;
    width: 600px;
    height: 600px;
    background-image: url("/public/images/tiara2.png");
    background-size: cover;
  }
  