.hobbies-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 120px;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@500&display=swap');

  .hobby-button {
    position: relative;
    /* width: 100%; */
    padding: 110px;
    margin-top: 10px;
    border-radius: 50%;
    border: none;
    color: rgba(0,0,0,0);
    font-family: 'Playpen Sans', cursive;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    /* border: 5px solid rgba(0,0,0,0.3); */
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    transition: background-color 0.3s,
  }
  
  .hobby-button:hover {
    background-color: #ff6666; /* Change color on hover */
    animation: gelatine 1s infinite;
  }

  @keyframes gelatine { 
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-30px);} 
    60% {transform: translateY(-15px);} 
 }

 .button-image{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: last baseline;
  width: 70%;
  top:15%;
  left: 15%;
  font-size: 24px;
  color: white;
  height: 60%;
 }

.button-image span{
  position: absolute;
  bottom: -30%;
}

 .button-image#i1{
  background-image: url(/public/images/Asset1.svg);
 }
 .button-image#i2{
  background-image: url(/public/images/Asset2.svg);
 }
 .button-image#i3{
  background-image: url(/public/images/Asset3.svg);
 }
 
 .button-image#i4{
  background-image: url(/public/images/Asset4.svg);
 }