.whole-scene{
    display: flex;
    flex-direction: column;
}

.whole-container{
    /* position: absolute; */
    /* top:20vh; */
    width: 100%;
    /* height: 75vh; */
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.avatar-container{
    width: 600px;
    height: 600px;
}

.text-container{
    /* height: 500px; */
    width: 620px;
    height: 400px;
    padding: 200px 5vw 0 0;
    text-align: center;
    font-size: x-large;
}


.lower-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.hobbiest{
    display: flex;
    width: 600px;
    height: 600px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.hobby-text{
    /* height: 500px; */
    width: 620px;
    height: 400px;
    padding: 200px 5vw 0 0;
    text-align: center;
    font-size: x-large;
}

.Testimonials{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.Achievements{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
